Source: noop
Section: admin  
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9), golang, git
Standards-Version: 3.9.5
Homepage: https://github.com/Like-all/noop
X-Debrew-Production-Flavours: ["jessie"]
X-Debrew-Production-Architectures: ["amd64"]
X-Debrew-Testing-Flavours: ["jessie"]
X-Debrew-Testing-Architectures: ["amd64"]
X-Debrew-Maintainer-Login: like-all

Package: noop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: noop package
